#todo: quorum with 1 of 3.
#todo: private keys for nodes.
#NAME="pi_testnet_1"

HTTP_PORT=31402
PUBLIC_HTTP_PORT=true
LOG_FILE_PATH=""

NETWORK_PASSPHRASE="Pi Testnet ; June 2020"
CATCHUP_COMPLETE=true
DATABASE="postgresql://dbname=core host=localhost user=stellar password=__PGPASS__"
CATCHUP_RECENT=100

# PREFERRED_PEERS (list of strings) default is empty
# These are IP:port strings that this server will add to its DB of peers.
# This server will try to always stay connected to the other peers on this list.
PREFERRED_PEERS=["testnet1.minepi.com:31402", "testnet2.minepi.com:31402", "testnet3.minepi.com:31402"]

# PREFERRED_PEER_KEYS (list of strings) default is empty
# These are public key identities that this server will treat as preferred
# when connecting, similar to the PREFERRED_PEERS list.
# can use a name already defined in the .cfg
PREFERRED_PEER_KEYS=[
  "GC6R2IQ7LAEWFFNV2ZMXPMOLGGCFRFX6NQFCNT2PLB3KVJPHTIYV4ZPR", 
  "GDRIZZC5PNZ6XBJTBZX52WX4NQ2K4Y5XBKVBRYNFDDS4VO6POQ3IGZCL", 
  "GAKI7FNXWIJHKV4CKFSU6KDNFTPYAUOP2WIKL5IFSOPEUSYK4Y3LWMXX"
]

# PREFERRED_PEERS_ONLY (boolean) default is false
# When set to true, this peer will only connect to PREFERRED_PEERS and will
# only accept connections from PREFERRED_PEERS or PREFERRED_PEER_KEYS
PREFERRED_PEERS_ONLY=false


# KNOWN_PEERS (list of strings) default is empty
# These are IP:port strings that this server will add to its DB of peers.
# It will try to connect to these when it is below TARGET_PEER_CONNECTIONS.
KNOWN_PEERS=["testnet1.minepi.com:31402", "testnet2.minepi.com:31402", "testnet3.minepi.com:31402"]

# KNOWN_CURSORS (list of strings) default is empty
# Set of cursors added at each startup with value '1'.
KNOWN_CURSORS=["HORIZON"]

# Below is an example of public-private key pair. Replace it with your own and don't use it in production.
# Secret seed: SBXHVERXGL76IQXQUK5Q74U6JLVIAOJDAHIYHC6KZQSW4TMGCO63S4BV
# Public: GBZZZVLOLYMDEAGQ62QKDNXINSUKNR67H4QLHIMW7RH7CLF6OCANGC3E
NODE_SEED="__NODE_PRIVATE_KEY__ self"

# NODE_IS_VALIDATOR (boolean) default false.
# Only nodes that want to participate in SCP should set NODE_IS_VALIDATOR=true.
# Most instances should operate in observer mode with NODE_IS_VALIDATOR=false.
# See QUORUM_SET below.
NODE_IS_VALIDATOR=false


UNSAFE_QUORUM=true
[QUORUM_SET]
THRESHOLD_PERCENT=32  # 32% - one of three validators of the testnet is consudered enough.
VALIDATORS=[
  "GC6R2IQ7LAEWFFNV2ZMXPMOLGGCFRFX6NQFCNT2PLB3KVJPHTIYV4ZPR", 
  "GDRIZZC5PNZ6XBJTBZX52WX4NQ2K4Y5XBKVBRYNFDDS4VO6POQ3IGZCL", 
  "GAKI7FNXWIJHKV4CKFSU6KDNFTPYAUOP2WIKL5IFSOPEUSYK4Y3LWMXX"
]

[HISTORY.cache]
get="curl -sf http://testnet-history.minepi.com:31403/{0} -o {1}"

# todo: add an local archive
# [HISTORY.vs]
# get="cp /tmp/stellar-core/history/vs/{0} {1}"
# put="cp {0} /tmp/stellar-core/history/vs/{1}"
# mkdir="mkdir -p /tmp/stellar-core/history/vs/{0}"